
<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Searcher</title>
</head>

<body>

<h1> Welcome to Searcher</h1>
<a href="https://localhost/login">
  Login
</a>
<p> </p>
<a href="https://localhost/logout">
  Logout
</a>
</body>

</html>