<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Websites</title>
</head>
<body>
      <h1> Add website</h1>
      <form method="post" enctype="application/x-www-form-urlencoded"></form>
      <label>
        <input type="text" name="site">
      </label>
      <input type="submit" name="add"/>
</body>
</html>